{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load compress %}

{% block content_top %}
<div id="fb-root"></div>
<script async data-cfasync="false" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2339495356288498&autoLogAppEvents=1"></script>

{% include 'social/social_share_vertical.html' %}

<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-folder-open-o" viewBox="0 0 30 28">
<title>folder-open-o</title>
<path d="M27.828 14.547c0-0.438-0.484-0.547-0.828-0.547h-17c-0.828 0-1.922 0.516-2.453 1.156l-4.594 5.672c-0.141 0.187-0.281 0.391-0.281 0.625 0 0.438 0.484 0.547 0.828 0.547h17c0.828 0 1.922-0.516 2.453-1.172l4.594-5.672c0.141-0.172 0.281-0.375 0.281-0.609zM10 12h12v-2.5c0-0.828-0.672-1.5-1.5-1.5h-9c-0.828 0-1.5-0.672-1.5-1.5v-1c0-0.828-0.672-1.5-1.5-1.5h-5c-0.828 0-1.5 0.672-1.5 1.5v13.328l4-4.922c0.906-1.109 2.578-1.906 4-1.906zM29.828 14.547c0 0.688-0.297 1.344-0.719 1.875l-4.609 5.672c-0.891 1.094-2.594 1.906-4 1.906h-17c-1.922 0-3.5-1.578-3.5-3.5v-15c0-1.922 1.578-3.5 3.5-3.5h5c1.922 0 3.5 1.578 3.5 3.5v0.5h8.5c1.922 0 3.5 1.578 3.5 3.5v2.5h3c1.062 0 2.125 0.484 2.594 1.484 0.156 0.328 0.234 0.688 0.234 1.062z"></path>
</symbol>
</defs>
</svg>

{% if page.header_image %}
{% comment %} {% compress css inline %} {% endcomment %}
<style>
    #page-header{
        background-color: rgba(0,0,0,0.5)
        background-position: center;
        background-size: cover auto;
        position: relative;
        min-height: 50vh;
        max-height: 100vh;
        display: flex;
    }

    @media (max-width: 768px) {
        {% image page.header_image fill-800x600 as headerimg %}
        #page-header{
            background: url({{ headerimg.url }}) repeat fixed;
        }
    } 

    @media (min-width: 768.1px) and (max-width: 992px) {
        {% image page.header_image fill-1000x600 as headerimg %}
        #page-header{
            background: url({{ headerimg.url }}) repeat fixed;
        }
    }

    @media (min-width: 992.1px) {
        {% image page.header_image fill-1500x800 as headerimg %}
        #page-header{
            background: url({{ headerimg.url }}) repeat fixed;
        }
    }

    @media (min-width: 1500.1px) {
        #page-header{
            background-size: cover;
            background-position: center bottom;
        }
    }

    .content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        z-index: 2;
    }

    #page-header-wrap{
        position: absolute;
        height: 100vh;
        background-color: rgba(50,50,150,0.8);
    }

    #page-header-content{
        margin: auto;
    }

</style>
{% comment %} {% endcompress %} {% endcomment %}
{% endif %}

<div id="page-header" class="overflow-hidden px-0 container-fluid bg-main-blue-dark text-light shadow skewed-border">
<div id="page-header-wrap" class="w-100 text-light skewed-border"></div>
    <div id="page-header-content">
    <div class="row py-3">
        <div class="col my-5 py-5">

            <div id="page-title-wrap" class="text-center">
                <h1 id="post-title" class="px-5">{{ page.title }}</h1>
                <small class="faded-text">
                    <i>Posted {{ page.date.date }}
                        {% if page.author_profile %}
                        ~ By 
                        {% with page.author_profile.full_name_condensed as fullname %}
                            <a class="post-title-author-link" href='{% routablepageurl settings.siteSettings.SiteSettings.author_page.specific "author" fullname %}'>{{ page.author_profile.full_name }}</a>
                        {% endwith %}
                        {% endif %}
                    </i>
                </small>

                <div id="topics" class="mt-4">
                    {% for topic in page.topics.all %}
                        <a href='{% routablepageurl settings.siteSettings.SiteSettings.topic_page.specific "topic" topic.slug %}'
                        class="m-2 p-0 px-2 text-light">
                            <small>
                                <svg class="icon icon-folder-open-o"><use xlink:href="#icon-folder-open-o"></use></svg>
                                {{ topic.name }}
                            </small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block content %}

{% comment %} <hr> {% endcomment %}
<div id="page-content" class="row">

    <article id="article" class="col ml-xl-0 ml-md-3 ml-sm-0">

        <div id="article-contents" class="mx-auto">
        {% for block in self.body %}
            <div class="trans-ease block-{{ block.block_type }} mb-5">
                {% include_block block %}
            </div>
        {% endfor %}
        </div>

        {% include 'social/social_share.html'%}

        <hr>

        <div id="post-comments">
            <div class="fb-comments" data-href="{{ request.build_absolute_uri  }}" data-width="80%" data-numposts="20"></div>
        </div>

        {% comment %} {% if page.author_profile %}
            <hr>
            <div class="row sketch-border bg-light p-2">
                <div class="col-sm-3 col-lg-2 my-auto">
                    {% if page.author_profile.photo %}
                        {% image page.author_profile.photo fill-100x100 as authorpic %}
                        <img src="{{ authorpic.url }}" class="d-block mx-auto mr-md-0 rounded-circle" />
                    {% endif %}
                </div>
                <div class="col my-sm-auto mr-auto text-center text-sm-left">
                    <h5><small>By</small>
                    {% with page.author_profile.full_name_condensed as fullname %}
                     <a href='{% routablepageurl settings.siteSettings.SiteSettings.author_page.specific "author" fullname %}'>{{ page.author_profile.full_name }}</a>
                     {% endwith %}
                     </h5>
                    <span>{{ page.author_profile.desc|richtext }}</span>
                </div>
            </div>
            <hr>
        {% endif %} {% endcomment %}

    
    </article>
    
    {% include 'sidebar/sidebar.html' %}
</div>
{% endblock %}
