{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content_top %}
<div id="page-header" class="overflow-hidden px-0 container-fluid bg-main-blue-dark text-light skewed-border">
<div id="page-header-wrap" class="w-100 text-light skewed-border"></div>
<div class="row py-3 mb-1">
<div class="col my-5 py-5">

    <div id="page-title-wrap" class="text-center">
        <div id="post-title" class="">
        {% if page.use_children_custom_pages or page.use_children_post %}
            <h2>{{ blog_page.title }}</h2>
        {% else %}
            {% if route_title %}
                {% if route_title == 'Search' %}
                    <h2>Showing results for "{{ page.search_term }}"</h2>
                {% elif route_title == 'Author'%}
                    <h2>Posts By {{ page.get_author_profile.full_name }}</h2>
                {% elif route_title == 'Topic'%}
                    <h2>{{ sel_topic }}</h2>
                {% else %}
                    <h2>{{ route_title }}</h2>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
    
</div>
</div>
</div>
{% endblock %}

{% block content %}

<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-circle-right" viewBox="0 0 32 32">
<title>circle-right</title>
<path d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z"></path>
<path d="M11.086 22.086l2.829 2.829 8.914-8.914-8.914-8.914-2.828 2.828 6.086 6.086z"></path>
</symbol>
</defs>
</svg>

<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-folder-open-o" viewBox="0 0 30 28">
<title>folder-open-o</title>
<path d="M27.828 14.547c0-0.438-0.484-0.547-0.828-0.547h-17c-0.828 0-1.922 0.516-2.453 1.156l-4.594 5.672c-0.141 0.187-0.281 0.391-0.281 0.625 0 0.438 0.484 0.547 0.828 0.547h17c0.828 0 1.922-0.516 2.453-1.172l4.594-5.672c0.141-0.172 0.281-0.375 0.281-0.609zM10 12h12v-2.5c0-0.828-0.672-1.5-1.5-1.5h-9c-0.828 0-1.5-0.672-1.5-1.5v-1c0-0.828-0.672-1.5-1.5-1.5h-5c-0.828 0-1.5 0.672-1.5 1.5v13.328l4-4.922c0.906-1.109 2.578-1.906 4-1.906zM29.828 14.547c0 0.688-0.297 1.344-0.719 1.875l-4.609 5.672c-0.891 1.094-2.594 1.906-4 1.906h-17c-1.922 0-3.5-1.578-3.5-3.5v-15c0-1.922 1.578-3.5 3.5-3.5h5c1.922 0 3.5 1.578 3.5 3.5v0.5h8.5c1.922 0 3.5 1.578 3.5 3.5v2.5h3c1.062 0 2.125 0.484 2.594 1.484 0.156 0.328 0.234 0.688 0.234 1.062z"></path>
</symbol>
</defs>
</svg>


<div class="row">
<div class="col">
<div class="">

    {% if page.use_children_custom_pages %}
        <ul>
            {% for child in page.get_children_custom_pages %}
                <li>
                <a href="{{ child.url }}">{{ child.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}

    <div class='post-wrapper'>
    {% for post in posts %}
    {% if forloop.counter0|divisibleby:2 %} <div class="row"> {%  endif %}
        <div class="col-md post-card p-0 m-3">
            <div id="post-summary-card" class="card ">
                <div id="post-summary-contents" class="">
                    {% if post.specific.header_image %}
                        {% image post.specific.header_image fill-400x200 as card_pic %}
                        <img src="{{ card_pic.url }}" class="card-img-top"/>
                        {% comment %} <div class="card-img-overlay p-0 post-date-overlay">
                        <small class="p-1 text-light bg-darker">{{ post.date.date }}</small>
                        </div> {% endcomment %}
                    {% endif %}

                    <div class="card-body text-center pt-0" style="margin-top: 1.5em !important;">
                        <h3 class="font-weight-bold">{{ post.title }}</h3>

                        {% comment %} <small class="mx-auto mb-1">
                        {% if post.author_profile %} {% endcomment %}
                            {% comment %} {% image post.author_profile.photo fill-40x40 as author_photo %} 
                            <img src="{{ author_photo.url }}" class="mr-1 rounded-circle"> {% endcomment %}
                            {% comment %} By {{ post.author_profile.full_name }}
                        {% else %}
                           By Anonymous
                        {% endif %}
                        </small> {% endcomment %}

                        {% comment %} <hr> {% endcomment %}
                        {% if post.summary %}
                            <div class="mt-1"><p style="margin-top: 1em !important;">{{ post.summary }}...</p></div>
                        {% endif %}

                        <button name="continue" class="swing-in-top-fwd btn btn-outline-dark d-block mx-auto">
                        Continue
                        <svg class="icon icon-circle-right"><use xlink:href="#icon-circle-right"></use></svg>
                        </button>

                        <a href="{% pageurl post %}" class="stretched-link">
                        </a>

                    </div>

                    
                    
                </div>

                {% if post.topics.all %}
                <div id="card-topics" class="row text-center p-0 m-0 mb-3 mt-auto" >
                {% for topic in post.topics.all %}
                    <div class="col m-0 p-0">
                        <small>
                        <svg class="icon icon-folder-open-o"><use xlink:href="#icon-folder-open-o"></use></svg>
                            <a class="m-0 p-0 w-100 text-uppercase" style="border-radius: 0;">
                            <small>{{ topic.name }}</small>
                            </a>
                        </small>
                    </div>
                {% endfor %}
                </div>
                {% endif %}
                </div>

            

        </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
    {% endfor %}

    </div>

    {% endif %}

</div>
</div>
{% include 'sidebar/sidebar.html' %}
</div>

{% if posts.paginator.num_pages > 1 %}
        <div class="pagination justify-content-center mx-auto my-auto text-center">
        
        {% if posts.has_previous %}
            <li class="page-item">
            <a href="?page={{ posts.previous_page_number }}" class="page-link">
                <span>&laquo;</span>
            </a>
            </li>
        {% endif %}

        {% for page_num in posts.paginator.page_range %}
            <li class="page-item {% if page_num == posts.number %} active{% endif %}">
            <a href="?page={{ page_num }}" class="page-link">
                {{ page_num }}
            </a>
            </li>
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item">
            <a href="?page={{ posts.next_page_number }}" class="page-link">
                <span>&raquo;</span>
            </a>
            </li>
        {% endif %}

        </div>
{% endif %}

{% endblock %}

