{% load wagtailcore_tags wagtailimages_tags %}

<div id="news-wall" class="d-grid m1 ease">

    <input type="hidden" id="newsWall-endpoint" name="apiURL" value="{{ request.scheme }}://{{ request.get_host }}{% url 'news-get-feed-page' %}">

</div>

<div>
    <div id="feed-spinner" class="spinner ease opacity0">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div id="news-wall-trigger" class="wh100"></div>
</div>


