#post-summary-card{
    max-width: 30rem;
    height: 100%;
}

#post-header{
    width: 100%;
    text-align: center;
    overflow: hidden; 
    
}

.post-header-img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    min-height: 400px;
}

#post-title{
  font-size: 2.5em;
  font-weight: 500;
  text-transform: capitalize;
}

@media (max-width: 768px){
    #post-title{
        font-size: 8vw;
    }
}

.sidebar-offset{
    top: 6em;
}
  
  
.post-card{
    transition:.2s all; 
}

.post-wrapper:hover .post-card{
    /* filter:blur(1px); */
    opacity:.5;
    transform: scale(.98);
    /* box-shadow:none; */
}

.post-wrapper:hover .post-card:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    animation: float 1s ease-in-out infinite;
  }

.post-card:hover [name="continue"]{
    animation: float 1s ease-in-out infinite;
    /* background-color: #094ecf;
    color: #fff; */
}