/*
Main css for NerdVenture theme
Author: Zach Moore - Zach@NerdVenture.net
*/

body{
    background-color: #ededef;
    font-size: 1.25em;
    /* -webkit-font-smoothing: antialiased; */
}

/*============= links =============*/
.light-links a{
color: white;
text-decoration: none;
}

.light-links:hover{
  text-decoration: none;
}

.dark-links a{
  color: black;
  text-decoration: none;
  }

.dark-links:hover{
  text-decoration: none;
}


/*============= alignment =============*/

.force-align-left{
  margin-right: auto !important;
  margin-left: 0 !important;
}

.force-align-right{
  margin-right: 0 !important;
  margin-left: auto !important;
}

.force-align-center{
  margin-right: auto !important;
  margin-left: auto !important;
}

/* .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
} */

/* Wagtail richtext images and alignment */
@media (max-width: 768px){
  .left{
    float: none;
    width: 75%;
  height: auto;
  }
  
  .right{
    float: none;
    width: 75%;
  height: auto;
  }
}

.left{
  float: left;
}

.right{
  float: right;
}

.richtext-image{
  width: 50%;
  height: auto;
  padding: 20px;
}
/*===================*/

/*============= bkground =============*/

.bg-darker{
  background-color: rgba(0,0,0,0.25)
}

.bg-lighter{
  background-color: rgba(255,255,255,0.25)
}

.bg-main-blue{
  background-color: #094ecf;
}

.bg-main-blue-dark{
  /* background-color: #19479b; */
  background-color: #094ecf;
}

.bg-alt{
  background-color: rgba(250,250,0,1) !important;
}

.bg-transparent{
  background-color: transparent;
}

/*============= text =============*/

.faded-text{
    opacity: 0.5;
}

/*============= scrollbar =============*/

::-webkit-scrollbar {
  width: 14px;
  }
  ::-webkit-scrollbar-track {
  background-color: #094ecf;
  border-radius: 9px;
  }
  ::-webkit-scrollbar-thumb {
  background-color: #5387e7;
  border-radius: 9px;
  }

/*============= container =============*/

@media (min-width: 575.98px)  { 
    .container-wide{
        width: 90%;
    }
}

.full-width{
  width: 75%;
  height: auto;
}

/*============= icon / shapes =============*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.skewed-border{
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}

.skewed-border-alt{
  position: relative;
  clip-path: polygon(
    0 0, 100% 0, 100% 75%, 0% 100%
  );
}

.sketch-border{
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

/*============= input =============*/

.nd-input, .nd-input:focus{
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  outline: none;
  border-width: 0;
  /* border-left-width: 5px; */
  /* border-bottom-width: 2px; */
  border-radius: 0;
  box-shadow: none;
}
.nd-input::placeholder{
  color: white;
}
.nd-input::after{
  background-color: #000;
  opacity: 0.25;
}

/*============= block quote =============*/
/*block quotations*/
  @media (min-width: 991){
    blockquote{
      max-width: 80%;
    }
  }

  blockquote{
    margin: auto;
    /* max-width: 80%; */
  }

  .quotation{
    font-size: 30px;
    margin: auto;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
    line-height: 1.4;
  }
  
  .quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #ccc;
    font-size: 3em;
  }
  .quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 35px;
    color: #ccc;
    font-size: 3em;
  }
  .quote-footer{
    margin:0;
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
  }

  