[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest-framework = "*"
django-rest-auth = "*"
django-cors-headers = "*"
wagtail-modelchooser = "*"
wagtailcodeblock = "*"
django-pipeline = "*"
manifesto = "*"
slimit = "*"
wagtail-cache = "*"
wagtail-themes = "*"
python-dotenv = "*"
wagalytics = "*"
wagtailuiplus = "*"
wagtailemoji = "*"
wagtail-robots = "*"
django-compressor = "*"
html5lib = "*"
csscompressor = "*"
brotli = "*"
django-cors-middleware = "*"
wagtail = "*"
django-feed-reader = "*"

[requires]
python_version = "3.7"
