#footer{
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #footer-menu{
    width: 100%;
    height: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5rem;
  }
  
  .footer-link{
    color: #777;
    font-size: 0.9em;
  }
  
  .footer-link:hover{
    font-style: normal;
    text-decoration: none;
    color: #555;
  }

  #footer, #footer-wrap, #footer-menu{
    background-color: #19479b;
  }
  
  .footer{
    font-size: 1rem;
    padding-bottom: 20px;
    /* position: absolute; */
    /* bottom: 0; */
    /* height: 2.5rem; */
    /* width: 100%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%); */
  }
  
  #footer-menu{
    width: 100%;
    /* height: 2rem; */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* bottom: 2.5rem; */
  }
  
  .footer-link{
    /* color: #777; */
    font-size: 1rem;
  }
  
  .footer-link:hover{
    font-style: normal;
    text-decoration: none;
    color: #555;
  }