.hide-el{
    /* width: 0px; */
    display: none;
    min-width: 0px;
    overflow: hidden;
  }
  
  #search-toggle{
    color: #777;
  }
  
  #search-toggle:hover{
    color: #777;
  }
  
  @media (min-width: 0px) and (max-width: 992px) { 
    #search-form{
      padding-bottom: 1em;
    }

    .hide-el{
      display: block;
      /* width: auto; */
    }
  
    #search-toggle{
      display: none;
    }
  
  }