{% load wagtailcore_tags %}

{% if page.sidebar %}

<div class="col-sm-3 d-none d-lg-block sidebar">

    {% if page.sidebar.fixed %}
    <div class="rounded sticky-top sidebar-offset">
    {% else %}
    <div class="rounded">
    {% endif %}

        {% for block in page.sidebar.body %}
            {% with blockcss='mb-2 text-center' %}
                {% include 'blog/block_renderer.html' %}
            {% endwith %}
            {% comment %} <div class="block-{{ block.block_type }} mb-2 text-center">
                {% include_block block %}
            </div> {% endcomment %}
        {% endfor %}
    </div>

</div>
{% endif %}