{% load static wagtailuserbar %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load wagtailimages_tags %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">

        {% include 'google_analytics.html' %}

        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

        {% include 'open_graph.html' %}
        
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/News/normalize.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/News/reset.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/News/main.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/News/spinner.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/News/modal.css' %}">
        {% endcompress %}


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <script type="application/ld+json">
            {% include 'schema.html' %}
        </script>

        

        {% comment %} if set to false, cookies expire in 1 hour vs 2 min {% endcomment %}
        <script>
            var settings = {
                debug: false,
            };
        </script>


        {% include 'facebook_pixel.html' %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

    <div id="page-wrapper" class="wh100 d-grid">
    
    <div id="head" class="w100">
        {% include "header/header.html" %}
        {% include "messages.html" %}
        {% block notifications %}{% endblock %}
    </div>


    <div id="content-wrap" class="wh100 mt0">

        {% block content_top %}{% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block content_bottom %}{% endblock %}

    </div>

   
    <div id="foot" class="w100">
        {% include "footer/footer.html" %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% block load_last %}
            {# Overide #}
        {% endblock %}
        </div>

    </div>

    {% compress js %}
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/News/notify.js' %}"></script>
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/Cookies.js' %}"></script>
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/header.js' %}"></script>
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/News/optin.js' %}"></script>
        {% comment %} <script defer type="text/javascript" charset="utf-8" src="{% static 'blog/js/contactForm.js' %}"></script> {% endcomment %}
        <script defer type="text/javascript" charset="utf-8" src="{% static 'social/js/social.js' %}"></script>
        {% comment %} <script defer type="text/javascript" charset="utf-8" src="{% static 'js/progressive-image.js' %}"></script> {% endcomment %}
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/News/newsWall.js' %}"></script>
        <script defer type="text/javascript" charset="utf-8" src="{% static 'js/News/modal.js' %}"></script>
    {% endcompress %}

    {% include 'news/contact.html' %}
        
    {% wagtailuserbar %}

    </body>


</html>
