{% extends "base.html" %}

{% load wagtailcore_tags compress%}

{% block extra_css %}
{% compress css inline %}
<style>
body{
    background-color: #094ecf !important;
}
.center-block{
    width: 100%;
    height: 70vh;
    position: relative;
}
.content-404{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
}

span {
  color: white;
  font-family: monospace;
  font-size: 1.5vw;
}

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  margin-left: -5px;
  border-left: 7px solid white;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to { 
    visibility: hidden; 
  }
}
</style>
{% endcompress %}
{% endblock%} 


{% block body_class %}template-404{% endblock %}

{% block content %}
 <div class="center-block mx-auto my-auto align-middle">
    <div class="content-404">
        
        <span id="consoleTyper" class="typeing"></span><span class='blinker'>&#32;</span>
    </div>
 </div>
{% endblock %}

{% block extra_js %}
<script>
var data = [ 
  {
    consoleTyper: "<h1 class=\"text-light align-middle\">404</h1><span>The page could not be found<br/><br/>Please use the links or search bar above<br>Or report the error to<br><br>Support@NerdVenture.net  "
  }
];

var allElements = document.getElementsByClassName("typeing");
for (var j = 0; j < allElements.length; j++) {
  var currentElementId = allElements[j].id;
  var currentElementIdContent = data[0][currentElementId];
  var element = document.getElementById(currentElementId);
  var devTypeText = currentElementIdContent;

  // type code
  var i = 0, isTag, text;
  (function type() {
    text = devTypeText.slice(0, ++i);
    if (text === devTypeText) return;
    element.innerHTML = text + `<span class='blinker'>&#32;</span>`;
    var char = text.slice(-1);
    if (char === "<") isTag = true;
    if (char === ">") isTag = false;
    if (isTag) return type();
    setTimeout(type, 60);
  })();
}

</script>
{% endblock %}