{% load static wagtailuserbar %}
{% comment %} {% load menu_tags %} {% endcomment %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load wagtailimages_tags %}
{% load pipeline %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

        {% if self.header_image %}
            {% image page.header_image width-300 as headerimg %}
        {% endif %}
        {% if settings.siteSettings.SiteSettings.header.logo_image %}
            {% image settings.siteSettings.SiteSettings.header.logo_image width-200 as logoimg %}
        {% endif %}
        {% if page.author_profile.photo %}
            {% image page.author_profile.photo width-300 as authorpic %}
        {% endif %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% if self.summary %}{{ self.summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta property='og:site_name' content='{{ request.site.site_name }}' />
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{{ self.summary }}" />
        <meta property="og:url" content="{{ request.build_absolute_uri  }}" />
        <meta property="og:image" content="{{ page.get_site.root_url }}{{ headerimg.url }}" />
        <meta property="og:image:secure_url" content="{{ page.get_site.root_url }}{{ headerimg.url }}" />
        <meta property="og:image:width" content="{{ headerimg.width }}" />
        <meta property="og:image:height" content="{{ headerimg.height }}" />
        <meta property="article:published_time" content="{{ self.date }}">
        {% comment %} <meta property='article:author' content='https://www.facebook.com/YOUR-NAME' /> {% endcomment %}
        {% comment %} <meta property='article:publisher' content='https://www.facebook.com/YOUR-PAGE' /> {% endcomment %}
        {% comment %} <meta property="fb:app_id" content="?"> {% endcomment %}

        <meta property="twitter:card" content="summary">
        <meta property="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}">
        <meta property="twitter:description" content="{{ self.summary }}">
        <meta property="twitter:image" content="{{ page.get_site.root_url }}{{ headerimg.url }}">
        <meta property="twitter:url" content="{{ request.build_absolute_uri  }}">

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/light-modal.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/progressive-image.min.css' %}">
        {% stylesheet 'general' %}

        <script type="application/ld+json">
            {% include 'schema.html' %}
        </script>
       
        {% javascript 'general' %}
        {% comment %} <script defer src="{% static 'js/notify.js' %}"></script> {% endcomment %}
        {% comment %} <script defer src="{% static 'js/cookies.js' %}"></script> {% endcomment %}
        <script>
            var settings = {
                debug: false,
            };

        </script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>



    <body class="{% block body_class %}{% endblock %}">

    <div id="page-wrapper">
    {% include "header/header.html" %}
    {% include "messages.html" %}
    {% block notifications %}{% endblock %}

    {% wagtailuserbar %}

    <div id="content-wrap">

        {% block content_top %}{% endblock %}

        <div class="container container-wide my-3 fade-in">
            {% block content %}{% endblock %}
        </div>

        {% block content_bottom %}{% endblock %}

    </div>

    {% include "footer/footer.html" %}

    {% include 'blog/contact_modal.html' %}
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js"></script> {% endcomment %}

    </div>
    
    {% comment %} {% javascript 'social' %}
    <script src="{% static 'js/progressive-image.min.js' %}"></script> {% endcomment %}

    </body>


</html>
