{% load static wagtailcore_tags wagtailimages_tags compress %}

<style>
        
    @media (max-width: 768px) {
        {% image value.background fill-400x400 jpegquality-20 as headerimg %}
        #page-header{
            background: repeating-radial-gradient(
  circle,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4) 1vw,
  rgba(0, 0, 0, 0.6) 1vw,
  rgba(0, 0, 0, 0.6) 2vw
){% if value.background %}, url({{headerimg.url}}){% endif %} fixed;  
 background-size: cover;
            background-position: center bottom;           
        }
    }  

    @media (min-width: 768.1px) and (max-width: 992px) {
        {% image value.background fill-600x300 jpegquality-20 as headerimg %}
        #page-header{
            background: repeating-radial-gradient(
  circle,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4) 1vw,
  rgba(0, 0, 0, 0.6) 1vw,
  rgba(0, 0, 0, 0.6) 2vw
){% if value.background %}, url({{headerimg.url}}){% endif %} fixed; 
 background-size: cover;
            background-position: center bottom;
        }

    }

    @media (min-width: 992.1px) {
        {% image value.background fill-800x600 jpegquality-20 as headerimg %}
        #page-header{
            background: repeating-radial-gradient(
  circle,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4) 1vw,
  rgba(0, 0, 0, 0.6) 1vw,
  rgba(0, 0, 0, 0.6) 2vw
){% if value.background %}, url({{headerimg.url}}){% endif %} fixed; 
             background-size: cover;
            background-position: center bottom;
        }
    } 

    @media (min-width: 1201px) {
        #page-header{
            background-size: cover;
            background-position: center bottom;
        }
    }


</style>

<div id="page-header" class="overflow-hidden px-0 container-fluid bg-main-blue-dark text-light skewed-border">
    <div id="page-header-wrap" class="w-100 text-light skewed-border"></div>
        <div id="page-header-content">
        <div class="row py-3" style="margin-right: 0 !important;">
            <div class="col mt-5 pt-5">

                <div id="page-title-wrap" class="text-center ">
                    <h1 id="post-title" class="px-4">{{ value.title }}</h1>
                    
                    {% for block in value.body %}
                        {% include 'blog/block_renderer.html' %}
                    {% endfor %}
                    
                </div>
                
            </div>
        </div>
        </div>
</div>