#social-stack-wrap{
  position: fixed;
  top: 60%;
  left: 5%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
}

.social-share-icon:hover{
  transform: scale(1.25);
}

@media (min-width: 0) and (max-width: 768px) { 
  #social-stack-wrap{
    display: none;
  }
}

@media (min-width: 1600px) { 
  #social-stack-wrap{
    left: 10%;
  }
}

.social-share-icon{
    font-size: 3em;
    /* color: #fff; */
  }
  
  .social-share-bar{
    position: relative;
  }
  
  
  /* .pin-text{
    color: #c8232c;
  }
  
  .pin-text:hover{
    color: #c8232c;
    text-decoration: none;
  }
  
  .pin-btn-overlay{
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: translate(0%, 100%);
    font-size: 1.05em;
    text-decoration: none;

    border: solid red;
    /* border-radius: 50%; */
  }

  .pin-btn-overlay:hover{
    text-decoration: none;
  } */


  /* .fb-like-btn{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -35%);
  } */

